<div class="page-header">
  <h1>Detalhes da Internação</h1>
</div>

<%= link_to('javascript:history.back()', :class => 'btn btn-default') do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Voltar
<% end %>
<br /><br />

<%= render 'patients/personal_data', patient: @hospitalization.patient %>

<%= render 'hospitalizations/data', hospitalization: @hospitalization %>

<%= link_to('javascript:history.back()', :class => 'btn btn-default') do %>
    <span class="glyphicon glyphicon-chevron-left"></span> Voltar
<% end %>