<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <%= wicked_pdf_stylesheet_link_tag "/stylesheets/bootstrap.min.css" -%>
  <%= wicked_pdf_stylesheet_link_tag "/stylesheets/pdf.css" -%>
</head>
<body onload='number_pages'>
<div id="pdf_header">
    <%= wicked_pdf_image_tag 'logo_hulw_small.jpg' %>
  <h2>Hospital Universitário Lauro Wanderley</h2>
</div>
<div id="content">
  <%= yield %>
</div>
</body>
</html>